# Environment
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# JWT
JWT_SECRET=your-super-secret-jwt-key
JWT_REFRESH_SECRET=your-refresh-secret-jwt-key
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# Redis (optional)
REDIS_URL=redis://localhost:6379

# Twilio
TWILIO_ACCOUNT_SID=XChyt5edvghjuytresxcvbhjgfdvhj
TWILIO_AUTH_TOKEN=54edfghu76trdcvbhjhgfcvhv
TWILIO_PHONE_NUMBER=+17045678976

# Email aws
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=SDFGHJJHSXCVBHGFDCV
AWS_SECRET_ACCESS_KEY=v/mTr0JWnccZVR8hsg1mCrtyujhgfdRTYHbvftyu
FROM_EMAIL=example@prospera.global

AWS_BUCKET=bucket-name
AWS_CDN_URL=https://cdn.prospera.global

# App
APP_NAME=Node.js API
APP_URL=http://localhost:8080
CLIENT_BASE_URL=http://localhost:3000

# Logging
LOG_LEVEL=info
